requests
tqdm
pyyaml
psutil
capstone
pwntools
uvicorn
qrcode
qrtools
SQLAlchemy
sqlitedict
sqlparse
tikzplotlib
termcolor
sympy
numpy
scapy
pandas
matplotlib
uvicorn
wireguard
z3
z3-solver
aiohttp
attrs
bcrypt
boto
boto3
bs4
cryptography
discord
docker
ecdsa
esptool
fastapi
Flask
Flask-SQLAlchemy
geopy
geojson
hashtools
haversine
keyboard
networkx
numba
opencv-python
paramiko
pillow
pycryptodome
pydantic
prompt_toolkit
pymongo
pyshark
pyserial
pymodbus
rpyc
rstr
scipy
setuptools
six
torch
torchvision
unicorn
urllib3
neovim
pynvim
angr
